.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
}

.categories li {
  font-weight: 600;
  cursor: pointer;
  position: relative;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.categories li:hover,
.active {
  background-color: var(--primary-clr);
  color: white;
}
