@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&family=Urbanist:ital,wght@0,100;0,200;0,400;0,600;1,900&display=swap');

:root {
  --primary-clr: #4862c4;
  --accent-clr: #f53f7b;
  --background-clr-1: #fafafa;
  --background-clr-2: #f8f8f8;
  --navbar-height: 4rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Global CSS styles */
body {
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
}
